<!DOCTYPE html>
<html>
<head>
<title> Welcome to my diary app </title>
{%load staticfiles %}
<link rel="stylesheet" href="{%static 'css/styles.css' %}">

<body>


<img src="{% static 'images/logo.png' %}" class="image" alt="logo"></img>
<h1 class="logo-text">My Diary App</h1>
<h2> Write todays memories, keep safely, share if you would like! </h2>
<div class="image-block">
<img src="{% static 'images/diary.jpg'%}" class="open-diary" alt='Picture of a open diary'>
</div>

<img src="{% static 'images/nibin.jpg'%}"  alt='Your picture'>

<h2> {{ items.name }} </h2>

<p>Nibin, Your total life time as of now is
{{ printDob.year }} Years 
{{ printDob.month }} months
 {{ printDob.hour}} Hours and 
{{ printDob.second}} seconds!
</p>

<a href="/myapp/profile"><button> my profile </button></a>
<a href="/diary/diary"><button>my diary </button></a>
<button> Account book </button>
<button> Activities book </button>
<button> notification </button>
<button> logout </button>
<br></br>
<div class="footer">
<ul>
<li>Privacy Policy</li>
<li>Terms and Conditions</li>
<li>About Us</li>
<li>Contact Us</li>
</ul>
</div>
</body>
</html>