<!DOCTYPE html>
<html>
<head>
<title> Register here </title>
{% load static %}
<link rel="stylesheet" href="{% static './style.css' %}">
<body>
<p> Welcome to diary app!</p>
<img src="abc.jpg" alt="img"> </img>

<p>
Signing with the following detail, Write and keep your memories securely.
We offer interesting functionalities for your valuable records, keep write your stories every day, Upload fascinating images and favourite videos or memorable sound clips to your digital diary.
</p>

<h1>Register here! </h1>
Easy to sign in with <button>google</button>, button<button>Facebook</button> or

    <form>
      <input type="text" placeholder="FirstName" name="First Name">
      <input type="text" placeholder="LastName" name="Last Name">
      <input type="text" placeholder="Password" name="Password">
	      <input type="text" placeholder="ConfirmPassword" name=" Confirm Password">
We are inclusive, mentioned your ability here, we provide you accessible and personalised web interfaces! I have been facing any of these challenges.
<input type="radio" name="ability" value="v1"> Vission <br>
<input type="radio" name="ability" value="v1"> Hearing <br>
<input type="radio" name="ability" value="v1"> Cognitive  <br>
<input type="radio" name="ability" value="v1"> Motor <br>

      <button type="submit" > Register </button>
    </form>


</body>
</html>